/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';
/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.page{
    background-color: lavender
}
.btn {
    font-size: 18;
    background-color:yellowgreen;
    color: black;
    font-weight: bold;
}
.btn-pad{
    padding: 7px 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 48%;
    box-sizing: border-box;
}

.h2{
    background-color: lavender;
    color:yellowgreen;
}

.texto {
    font-size: 23;
    color: rgb(7, 170, 7); 
    font-weight: bold;
    font-style: italic;
}
.actionBar2{
    background-color: yellowgreen;
    color: white;
    vertical-align: center;
}
.action-bar{
    background-color: green;
    color: whitesmoke;
    vertical-align: center;
}
.h3{
    font-size: 25;
    color: rgb(7, 170, 7); 
    font-weight: bold;
    font-style: italic;
    background: lavender;
    
}
.image{
    text-align: center;
    background: lavender;
}
